/************ COMMON RULES *************/

:root{
  --bg-top-header: #000;
  --color-nav-primary: #363636;
  --color-nav-secondary: #a3a3a3;
  --btn-primary: #cd3d0f;
  --btn-secondary: #2d64e6;
  --btn-light: #d9dadc;
  --text-main-primary: #1f1f1f;
  --text-main-secondary: #7b7b7b;
  --text-main-third: #157dd2;
  --bg-main-light: #bebcbb;
  --bg-main-deep: #161c3b;
  --bg-footer: #00439c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* colors */

.btn_primary {
  background-color: var(--btn-primary);
}

.btn_secondary {
  background-color: var(--btn-secondary);
}

.btn_light {
  background-color: var(--btn-light);
}

.text_main_primary {
  color: var(--text-main-primary);
}

.text_main_secondary {
  color: var(--text-main-secondary);
}

.text_main_third {
  color: var(--text-main-third);
}

.text_main_deep {
  color: var(--bg-main-deep);
}

.bg_main_light {
  background-color: var(--bg-main-light);
}

.bg_main_deep {
  background-color: var(--bg-main-deep);
}

.bg_banner {
  background-color: var(--text-main-primary);
}

.bg_footer {
  background-color: var(--bg-footer);
}

/********** UTILITY RULES *************/

.w_300 {
  width: 350px;
}

.w_60 {
  width: 60%;
}

.reg {
  font-size: 17px;
  vertical-align: super;
}

.radius_1-5 {
  border-radius: 1.5rem;
}

.fw_500 {
  font-weight: 500;
}

.op_7{
  filter: opacity(0.7);
}

.sub_menu_img:hover {
  box-shadow:2px 2px 5px 5px var(--bg-main-light), -2px -2px 5px var(--color-nav-secondary);
}

.card_up{
  transition: margin-top 500ms linear;
  cursor: pointer;
}

.card_up:hover{
  margin-top:-1rem;
}

.btn_out{
  border:2px solid var(--btn-primary);
  padding: 1px 4px;
}

.btn_out_light{
  border: 1px solid white;
  padding: 1px 4px;
}

.btn_border{
  border: 2px solid transparent;
}

.btn_border:hover{
  border-color: rgb(0, 0, 0);
  transition: 200ms;
}

.btn_border_light{
  border: 2px solid trasparent;
}

.btn_border_light:hover{
  border-color:  #bcbec0;
  transition: 200ms;
}



/************ HEADER RULES ***********/

.brand {
  background-color: var(--bg-top-header);
}

#site_header .navbar-nav .nav-link {
  color: var(--color-nav-primary);
}

.dropdown-toggle{
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  border-top: 0;
  border-right: 0;
  font: var(--fa-font-solid);
  content: "\f107";
  font-size: 13px;
  color: var(--color-nav-secondary);

}

.dropdown-toggle.show::after {
  font: var(--fa-font-solid);
  content: "\f106";
  font-size: 13px;
}


.bg_color_nav_primary {
  background-color: var(--color-nav-primary);
}

.nav_bar i {
  color: var(--color-nav-secondary);
  font-size: 11px;
}

.nav_search > i {
  font-size: 18px;
  color: var(--bg-top-header);
}

.dropdown-menu {
  border: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0;
}

.offcanvas-header {
  padding-bottom: 0;
}

.offcanvas-body {
  padding-top: 0.25rem;
}

.offcanvas-end {
  top: 6.5rem;
  width:100%;
  height: 480px;
}

.icon-dot.fa-circle{
  color: #00439c;
  font-size: 5px;
  vertical-align: middle;
}

.sub_menu{
  margin-bottom: -0.4rem;
}

.dropdown-item {
  padding: 0;
}

.dropdown-item:hover{
  background-color: white;
}

/************ MAIN RULES *************/

/* MAIN_HERO_IMAGE */

.main_hero_image {
  background-image: url(./img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  height: 570px;
  background-repeat: no-repeat;
}

/* MINI_HERO_IMG */

.mini_hero_img img{
  border-radius: 1rem;
}

.mini_hero_img .card{
  border: 3px solid transparent;
  padding: 0.15rem;
  border-radius: 1.2rem;
}

.mini_hero_img .card_1{
  border-color: var(--text-main-third);
}

/* ACCESSORIES */

.accessories .card{
  cursor: pointer;
}

.border_color_bot,
.border_color_bot_tr {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid var(--text-main-third);
}

.border_color_bot_tr{
  border-color: transparent;
  transition: border-color 200ms;
}

.card:target{
  border-color: var(--text-main-third);
}

.accessories .card:hover {
  filter: opacity(1);
  border-color: var(--text-main-third);
 
}




/* BANNER_MIDDLE */

.banner_middle {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}


/************ FOOTER RULES *************/

/* media queries */
