*{
    --color-nav-primary:#373737;
    --color-nav-secondary:#a3a3a3;
    --btn-primary:#cd3d0f;
    --btn-secondary:#2d64e6;
    --text-main-primary:#1f1f1f;
    --text-main-secondary:#7b7b7b;
    --text-main-third:#157DD2;
    --bg-main-light:#bebcbb;
    --bg-main-deep:#161c3b;
    --icon-tweetter:#1da1f3;
    --icon-facebook:#1878f3;
    --icon-instagram-primary:#ba2f97;
    --icon-instagram-secondary:#fbac60;
    --icon-youtube:#c5312c;
    --bg--footer:#00439c;
}