/************ COMMON RULES *************/


*{
    --bg-top-header:#000;
    --color-nav-primary:#363636;
    --color-nav-secondary:#a3a3a3;
    --btn-primary:#cd3d0f;
    --btn-secondary:#2d64e6;
    --text-main-primary:#1f1f1f;
    --text-main-secondary:#7b7b7b;
    --text-main-third:#157DD2;
    --bg-main-light:#bebcbb;
    --bg-main-deep:#161c3b;
    --icon-tweetter:#1da1f3;
    --icon-facebook:#1878f3;
    --icon-instagram-primary:#ba2f97;
    --icon-instagram-secondary:#fbac60;
    --icon-youtube:#c5312c;
    --bg--footer:#00439c;
}

body{
    /* width: 98.15vw; */
    font-family: Arial, Helvetica, sans-serif;
}

/********** UTILITY RULES *************/

.w_300{
    width: 350px;
}

.bottom_3{
    bottom: 3rem;
}

.left_3{
    left: 3rem;
}

/* colors */

.btn_primary{
    background-color: var(--btn-primary);
}

.btn_secondary{
    background-color: var(--btn-secondary);
}

.text_main_primary{
    color: var(--text-main-primary);
}

.text_main_secondary{
    color: var(--text-main-secondary);
}

.text_main_third{
    color: var(--text-main-third);
}

.border_color_bot{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:2px solid var(--text-main-third);
}

.bg_banner{
    background-color: var(--text-main-primary);
}

.radius_1-5{
    border-radius: 1.5rem;
}

/************ HEADER RULES ***********/

.brand{
    background-color: var(--bg-top-header);
}

#site_header .navbar-nav .nav-link {
    color: var(--color-nav-primary);
}

.dropdown-toggle::after {
    border-top: 0;
    border-right: 0;
}

.bg_color_nav_primary{
    background-color: var(--color-nav-primary);
}

.nav_bar i{
    color: var(--color-nav-secondary);
    font-size: 11px;
}

.nav_search>i{
    font-size: 18px;
    color: var(--bg-top-header);
}

/************ MAIN RULES *************/

.main_hero_image{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 570px;
    background-repeat: no-repeat;
}

.mini_hero_img img{
    border-radius: 0.75rem;
}

.banner_middle{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}

/************ FOOTER RULES *************/



/* media queries */


